<h1>Create a new poll:</h1>
<form ng-submit="createNewPoll(poll)">
  <label>Question:</label>
  <input type="text" name="question" ng-model="poll.question"><br>
  <label>Response 1:</label>
  <input type="text" name="poll" ng-model="poll.responses[1]"><br>
  <label>Response 2:</label>
  <input type="text" name="poll" ng-model="poll.responses[2]"><br>
  <label>Response 3:</label>
  <input type="text" name="poll" ng-model="poll.responses[3]"><br>
  <label>Response 4:</label>
  <input type="text" name="poll" ng-model="poll.responses[4]"><br>
  <label>Response 5:</label>
  <input type="text" name="poll" ng-model="poll.responses[5]"><br>
  <label>Response 6:</label>
  <input type="text" name="poll" ng-model="poll.responses[6]"><br>
  <div>
  <h2>Poll Options</h2>
  <label>Allow multiple responses?:</label>
  <input type="checkbox" name="poll" ng-model="poll.select_multiple"><br>
  <label>Publish this Poll?:</label>
  <input type="checkbox" name="poll" ng-model="poll.published"><br>
  <label>Make Results Public?:</label>
  <input type="checkbox" name="poll" ng-model="poll.public_results"><br>
  </div>
  <input type="submit" name="Submit Poll" value="Submit Poll">
</form>

{{poll}}