<h1>Welcome To Quick Pollster!</h1>

<p>You may <%=link_to('create a new poll', new_poll_path)%> as a guest, but to save, edit, or privitize your polls you must <%=link_to('sign in', new_user_session_path)%>.</p>