<ul ng-if="vm.currentUser">
  <li>Welcome, <a href="" ui-sref="user({id: vm.currentUser.id})" ui-sref-active="active">{{vm.currentUser.username}}</a>!
  <li><a href="" ui-sref="polls" ui-sref-active="active">Go to the polls!</a>
  <li><a href="" ui-sref="newPoll" ui-sref-active="active">Make a poll!</a>
  <li> <a href="" ng-click="vm.logout()">Logout</a>
</ul>


<ul ng-if="!vm.currentUser">
  <li><a href="" ui-sref="login" ui-sref-active="active">Login</a>
  <li><a href="" ui-sref="polls" ui-sref-active="active">Sign up<a>
  <li><a href="" ui-sref="newPoll" ui-sref-active="active">Make a poll!</a>
</ul>