<%= render partial: 'polls/poll_head', locals: { poll: poll } %>

<% if poll.public_results || current_user == poll.user %>
  <ul>
  <% poll.responses. each do |response| %>
    <li><%= response.text %>: <%= response.selected %> votes</li>
  <% end %>
  </ul>
  <p>Total votes: <%= poll.vote_total %></p>
<% else %>
  <p>The results to this poll have been made private by the owner </p>
<% end %>