<h1>Edit your Poll Options</h1>



<%= form_for @poll do |f| %>

<%= render partial: "poll_options", locals: {form: f} %>

  <%=f.submit "Edit Poll Options" %>
  
<% end %>

<%= link_to "Delete this poll", "/polls/#{@poll.id}", method: 'DELETE' %>


