<script type="text/javascript">
var maxPollsInDom = 5;
getPolls(); 
addPollsToDom();
</script>

<h1>Published Polls</h1>

<div id="polls-list">
<%# @polls.each do |poll| %>
    <%# if responded_to?(poll) %>
      <%# render partial: "poll_results", locals: {poll: poll} %>
    <%# else %>
      <%# render partial: "poll", locals: {poll: poll, survey: false} %>
    <%# end %>
<%# end %>
</div>
<br>
<button id="see-more-polls" type="button">See More Polls</button>