<h1>Published Polls</h1>

<% @polls.each do |poll| %>
    <% if responded_to?(poll) %>
      <%= render partial: "poll_results", locals: {poll: poll} %>
    <% else %>
      <%= render partial: "poll", locals: {poll: poll, survey: false} %>
    <% end %>
<% end %>