<h1>Published Polls</h1>

<% @polls.each do |poll| %>
    <% if responded_to?(poll) %>
      <%= render partial: "poll_results", locals: {poll: poll} %>
    <% else %>
      <%= render partial: "poll", locals: {poll: poll, survey: false} %>
    <% end %>
<% end %>

<script type="text/javascript">
  $('.poll-unanswered').submit(function(a,b,c){
    a.preventDefault();
    var values = $(this).serialize();
    var post = $.post('polls/'+ this.id +'/results', values)
    post.success(function(a,b,c){
      addHTML(a.poll);
    }).fail(function(){
      alert('It puts the answer in the poll or it gets alert again.');
    });
  });

  function buildResults(responses){
    debugger;
    resultHTML = '<ul>'
    responses.forEach(function(response){
      resultHTML += '<li>' + response.text + ': ' + response.selected + ' votes</li>'
    });
    resultHTML += '</ul>'
    return resultHTML;
  }

  function addHTML(poll){
    $('#' + poll.id).html(function(){
      return buildResults(poll.responses)
    });
  }

  $('.delete-poll').click(function(a,b,c){
    debugger;
  })

</script>