<h1>Sign Up!</h1>

<form ng-submit="signUp()">
  <label>Username:</label>
  <input type="text" name="username" ng-model="creds.username"><br>
  <label>Email:</label>
  <input type="email" name="login" ng-model="creds.email"><br>
  <label>Password:</label>
  <input type="password" name="password" ng-model="creds.password"><br>
  <label>Confirm Password:</label>
  <input type="password" name="password" ng-model="creds.password_confirmation"><br>
  <input type="submit" name="submit" value="Sign Up">
</form>
